/* text */
p{
    margin-top: 0%;
    margin-bottom: 0%;
    color:black;
}

a.link:hover {
    cursor: pointer;
}

/* home */
a.none:link, a.none:visited, a.none:hover, a.none:active {
    color: black;
    text-decoration: none;
    text-align: right;
}

/* links */
a.links:link, a.links:visited {
    color: black;
    text-decoration: none;
    text-align: right;
}
  
a.links:hover, a.links:active {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    text-align: right;
}

/* images */
/* #container{
    display: flex;
}
#container img{
    justify-content: center;
    width: 20%;
}
#container:after{
    content: "";
    width: 100%;
    display: inline-block;
} */
#container{
    justify-content: space-between;
    display: flex;
    /* background-image: url("file:///C:/Users/wenho/Desktop/Folder/Code/how-ardwen.github.io/images/frieren.jpg"); */
}
#container > img{
    width: 22%;
    margin: .5%;
    border-style: solid;
}

.sample1{
    width: 100%;
    margin-top: .5%;
    opacity: .1;
}

#test{
    border-style: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    background-color: white;
    /* transition-duration: .4s; */
}

#test:hover{
    font-weight: bolder;
}